<div class="top-bar">www.tiendagenerica.com</div>
<div class="header">Tienda Genérica</div>
<nav class="tabs">
  <a routerLink="/users" routerLinkActive="active">Usuarios</a>
  <a routerLink="/clients" routerLinkActive="active">Clientes</a>
  <a routerLink="/providers" routerLinkActive="active">Proveedores</a>
  <a routerLink="/products" routerLinkActive="active">Productos</a>
  <a routerLink="/sales" routerLinkActive="active">Ventas</a>
  <a routerLink="/reports" routerLinkActive="active">Reportes</a>
</nav>
<section class="content">
  <router-outlet></router-outlet>
</section>
